
#chalk{
animation: write 3s infinite linear;
}

@keyframes write{
    0%{
       transform: translate(0%);
    }
    10%{
        transform: translate(-55%, -60%);
    }
    100%{
        transform: translate(10%, -80%);
    }
}