.about-section-container{
    border-top: 1px solid black;
    background-color: blue;
}

/* This is the footer section with the social buttons that I'll add:
.socials {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0.5em 0.5em;
  font-size: 24px;
}

.socials i {
  padding-bottom: 0.8em;
  cursor: pointer;
} */