.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-size: 42px;
  font-weight: 800;
  padding-top: 0.5em;
  text-transform: uppercase;
}

.svg-container {
  position: relative;
}

.board-text-container {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.board-text-container span {
  visibility: hidden;
}

.contact,
.contact-via-mail,
.contact-via-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact .socials i {
  padding-right: 0.5em;
  font-size: 32px;
  transition: all 0.1s linear;
  color: #202020;
}

.contact .socials a:link,
.contact .socials a:visited {
  text-decoration: none;
}

.contact .socials i:hover {
  transform: scale(1.3);
  color: black;
}

.contact .copyright {
  justify-items: flex-end;
}
