* {
  /* border: 2px solid red; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #263036;
  margin: 0;
  font-family: 'Volkorn', serif;
}

.navbar {
  position: sticky;
  top:0;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.navbar--container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #263036;
  color: white;
  display: flex;
  border-radius: 5px 5px 100px 100px;
}

.navbar--container .btn {
  cursor: pointer;
  padding: 1em 2em;
  transition: all 0.2s ease;
}

.navbar--container .btn a:link,
.navbar--container .btn a:visited,
.information--text--call-to-action .btn a:link,
.information--text--call-to-action .btn a:visited {
  color: inherit;
  text-decoration: none;
}

.navbar--container .btn:hover {
  background-color: white;
  color: #263036;
  border-radius: 5px;
  text-decoration: underline;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px -5px,
  rgba(0, 0, 0, 0.04) 0px 5px 5px -5px;
}

.navbar--container .btn:hover:first-child {
  border-radius: 5px 5px 5px 100px;
}

.navbar--container .btn:hover:last-child {
  border-radius: 5px 5px 100px 5px;
}

.navbar--container .btn:active {
  background-color: hsl(203, 17%, 90%);
}

.container {
  max-width: 960px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.information--img--text{
  display:flex;
}

.information--profile-img--container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.information--profile-img {
  position: relative;
  border-radius: 50%;
  height: auto;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.information--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.information--info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 95%;
}

.information--text h1 {
  font-size: 42px;
}

.information--text p {
  font-size: 24px;
  line-height: 1.5;
}

.information--text .information--info .hello {
  margin-top: 0;
}

.information--text--call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.information--text--call-to-action .btn,
.contact .btn { 
  padding: 1em 2em;
  border-radius: 50px;
  cursor: pointer;
  background-color: #263036;
  color: white;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  width: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.information--text--call-to-action .btn:hover,
.contact .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: white;
  border: rgba(250, 208, 44, 0.2);
  text-decoration: underline;
}

.information--text--call-to-action .btn:last-child {
  background-color: #5491bc;
}

.contact-me a,
.contact-me a:link,
.contact-me a:visited{
  color: white;
  text-decoration: none;
}